@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*{
	margin: 0;
	padding:0;
}

body{
	background-color: #fffbff;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	}

.header {
	min-width:1300px;
	border-bottom: 1px solid #3a0028;
	border-width: 0.14px;
	border-color: #b5b7ba;
	border-style:solid;
	background-color: #ffd600;
	height: 6%;
	text-align: center;
	padding-top:3%;
	padding-bottom:2%;
	margin: 0 auto;
}
.header . selected{
	color: №FFFF33;
}

.center{
	display: inline-block;
	margin-left: 25%;
	margin-right:25%;
		

}

.header a{
	color: #3a0028;
	font-size:20px;
	font-weight:100;
	text-align:left;
	text-decoration:none;
	height:30px;
	line-height: 30px;
	display: inline-block;
	padding-right: 40px;
}

.header span {
	padding: 0 38px;
	
}
.content {
	
	margin: 0 auto;
	min-height: calc (100vh-140px);
}
.content h1{
	width:100%;
	color: #3a0028;
	font-size: 30px;
	text-align:center;
	margin-top: 2%;
	margin-bottom:2%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.content h3 {
    color: #242424;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
    margin-left: 41px;
    margin-bottom: 52px;
}

.content h5 {
    color:  #242424;
    font-size: 24px;
    text-align: left;
}

.content img{
	margin-top: 2%;
	margin-left: 19%;
	width: 350px;
	border-radius: 45%;
}
.content .box_text {
	margin-top:3%;
	width: 30%;
	background-color: #ffffff;
	
	padding: 17px 48px 51px 76px;
	
		
}


.content .box {
    background-color: #ffffff;
    width: 1238px;
    min-height: 500px;
    margin: 50px auto 0 auto;
    padding-top: 37px;
    padding-left: 38px;
    padding-bottom: 100px;
}

.content .box p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 30px;
	text-indent: 20px; /* Отступ первой строки в пикселах */
   
}

.content .box input {
    border: 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 457px;
    height: 34px;
    padding-left:10px;
    font-size:20px;
    font-weight: 100;
    margin-bottom: 12px;
}

.content .box a {
    display: block;
    float: left;
    background-color:  #8cbbd3;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    padding:11px 51px;
}


.footer{
	background-color: #555ca2;
	height:10%;
	color: #3a0028;
	font-size: 20px;
	font-weight:100;
	text-align:center;
	padding-top: 4%;
	padding-bottom: 2%;
	
}
	.footer a {
    color: inherit;
}
